<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
</head>
<body>
    <h1 style="background-color:DodgerBlue; color:rgb(196, 229, 2);">
    <div class="mx-auto" style="width: 800px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded"><p class="text-center">Hakkimda yazilacak cok sey var ama ben hicbirine kulak asmiyorum &#128540;</div></p></h1>
    </div>
    
    <p class="text-center"><b>&#128073; Our goal is only to be able to laugh. (Amacımız Sadece güldürebilmektir.)</b></p>
  
    <nav class="navbar navbar-light bg-light">
  <div class="mx-auto" style="width: 200px;">
  
  <form class="form-inline">
    <td>
        <a class="btn btn-primary btn-lg btn-block" href="/cv">Click for my CV</a>
    </td>
  </form>
  </div>
</nav>

</body>
</html>