
<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Resume Landing Page Design - Easy </title>
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="profile-img">
​<picture>               
  <source srcset="images/tacettin.png" type="image/svg+xml">
  <img src="images/tacettin.png">
</picture>
</div>

<div class="profile-info">
<h1>Tacettin Yerebakan</h1>
<p class="About">Tacettin is a comic hero. A superhero is a type of heroic stock character, possessing supernatural or superhuman powers, who is dedicated to fighting the evil of their universe, protecting the public, and usually battling super-villains. (Turkish: Tacettin Bir Çizgi Roman Kahramanıdır. Bir süper kahraman, evrenle savaşmaya, halkı korumaya ve genellikle süper kötü adamlarla savaşmaya adanmış doğaüstü ya da insanüstü güçlere sahip bir kahramanlık karakter karakteridir. Amacımız Sadece Güldürebilmektir.) </p>

<div class="social-media">
<img src="images/facebook.png">
<img src="images/instagram.png">
<img src="images/twitter.png">
</div>

<h2>Expertise</h2>
    <div class="expertise">
    <img src="images/tacettinabiniz.png">
    <p><b>Web Comedian</b></p>
     <small>Our goal is only to be able to laugh.(Amacımız Sadece güldürebilmektir.)
        </small>
    </div>

    <div class="expertise">
    <img src="images/python.png">
    <p><b>Python Developer</b></p>
     <small>Phython developer Skills Linux Skills Experience in linux-based virtualization.      
        </small>
    </div>

    <div class="expertise">
    <img src="images/django.png">
    <p><b>Django Developer</b></p>
     <small>Design, develop software using Python 3 and the Django Framework.
        </small>
    </div>




<h2>My Project Works</h2>
    <div class="projects">
        <img src="images/project4.png">
        <img src="images/project5.png">
        <img src="images/project6.png">
        <img src="images/project1.png">
        <img src="images/project2.png">
        <img src="images/project3.png">
    
    </div>
    <div class="form-box">
    <h2>Contact Me</h2>
    <form>
        <div class="input-group">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        </div>
        <div class="input-group">
        <input type="number" placeholder="Phone Number">
        <input type="email" placeholder="Email">
        </div>
        <div class="text-area">
        <textarea rows="4" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="submit-btn">SEND MESSAGE</button>
    </form>
    </div>

    <div class="contact">
        <span><img src="images/gmail.png">tacettinabiniz@pycoders.com</span>
        <span><img src="images/phone.png">+31 012 789 10</span>
    </div>
    <p class="copyright">Designed By <b>Mathchi</b></p>

</div>



</body>
</html>