<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hakkimizda</title>
</head>
<body>
    
    <h1><p class="text-center"><em>Hakkimizda sayfasinda sizi hos gorduk!</em></p></h1>
    
<nav class="navbar navbar-light bg-light">
  <div class="mx-auto" style="width: 200px;">
  
  <form class="form-inline">
    <td>
        <a class="btn btn-primary btn-lg btn-block" href="/cv">Click for my CV</a>
    </td>
  </form>
  </div>
</nav>

</body>
</html>